<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit</title>
</head>
<body>
    <h1>Enter New Keyword and Meaning</h1>
    <br>
    <form action="">
    <label for="word">Enter word: </label>
    <input type="text" name="word">
    <br><br>
    <textarea name="meaning" cols="130" rows="10" placeholder="Enter Meaning..."></textarea>

    </form>
    
</body>
</html>